html
    head
        title=title
        style
            include ./Style/style.css
    body
        hidden=port
        hidden=kind
    
        section
            h4="Emoji Anylser"
            br
        
       
        section
            article
                div="😀    "
                    <p>0</p>
                div="😁    "
                    <p>0</p>
                div="😂    "                     
                    <p>0</p>
                div="🤣    "                     
                    <p>0</p>
                div="😃    "                     
                    <p>0</p>
                div="😄    "                     
                    <p>0</p>
                div="😅    "                     
                    <p>0</p>
                div="😆    "                     
                    <p>0</p>
                div="😉    "                     
                    <p>0</p>
                div="😊    "                     
                    <p>0</p>
                div="😋    "                     
                    <p>0</p>
                div="😎    "                     
                    <p>0</p>
                div="😍    "                     
                    <p>0</p>
                div="😘    "                     
                    <p>0</p>
                div="😗    "                     
                    <p>0</p>
                div="😙    "                     
                    <p>0</p>
                div="😚    "                     
                    <p>0</p>
                div="🙂    "                     
                    <p>0</p>
                div="🤗    "                     
                    <p>0</p>
                div="🤔    "                     
                    <p>0</p>
                div="😐    "                                          
                    <p>0</p>
            
            article
                div="😑    "                                          
                    <p>0</p>
                div="😶    "                                          
                    <p>0</p>
                div="🙄    "                                          
                    <p>0</p>
                div="😏    "                                          
                    <p>0</p>
                div="😣    "                                          
                    <p>0</p>
                div="😥    "                                          
                    <p>0</p>
                div="😮    "                                          
                    <p>0</p>
                div="🤐    "                                          
                    <p>0</p>
                div="😯    "                                          
                    <p>0</p>
                div="😪    "                                          
                    <p>0</p>
                div="😫    "                                          
                    <p>0</p>
                div="😴    "                                          
                    <p>0</p>
                div="😌    "                                          
                    <p>0</p>
                div="😛    "                                          
                    <p>0</p>
                div="😜    "                                          
                    <p>0</p>
                div="😝    "                                          
                    <p>0</p>
                div="🤤    "                                          
                    <p>0</p>
                div="😒    "                                          
                    <p>0</p>
                div="😓    "                                          
                    <p>0</p>
                div="😔    "                                                               
                    <p>0</p>
                div="😕    "                                                               
                    <p>0</p>
            
            article
                div="🙃    "                                                               
                    <p>0</p>
                div="🤑    "                                                               
                    <p>0</p>
                div="😲    "                                                               
                    <p>0</p>
                div="☹    "                                                               
                    <p>0</p>
                div="🙁    "                                                               
                    <p>0</p>
                div="😖    "                                                               
                    <p>0</p>
                div="😞    "                                                               
                    <p>0</p>
                div="😟    "                                                               
                    <p>0</p>
                div="😤    "                                                               
                    <p>0</p>
                div="😢    "                                                               
                    <p>0</p>
                div="😭    "                                                               
                    <p>0</p>
                div="😦    "                                                               
                    <p>0</p>
                div="😧    "                                                               
                    <p>0</p>
                div="😨    "                                                               
                    <p>0</p>
                div="😩    "                                                               
                    <p>0</p>
                div="😬    "                                                               
                    <p>0</p>
                div="😰    "                                                               
                    <p>0</p>
                div="😱    "                                                               
                    <p>0</p>
                div="😳    "                                                                                    
                    <p>0</p>
                div="😵    "                                                                                    
                    <p>0</p>
                div="😡    "                                                                                    
                    <p>0</p>
            
            

            article
                div="😠    "                                                                                    
                    <p>0</p>
                div="😷    "                                                                                    
                    <p>0</p>
                div="🤒    "                                                                                    
                    <p>0</p>
                div="🤕    "                                                                                    
                    <p>0</p>
                div="🤢    "                                                                                    
                    <p>0</p>
                div="🤧    "                                                                                    
                    <p>0</p>
                div="😇    "                                                                                    
                    <p>0</p>
                div="🤠    "                                                                                    
                    <p>0</p>
                div="💩    "                                                                                    
                    <p>0</p>
                div="💪    "                                                                                    
                    <p>0</p>
                div="✌️    "                                                                                    
                    <p>0</p>
                div="👌    "                                                                                    
                    <p>0</p>
                div="👍    "                                                                                    
                    <p>0</p>
                div="👎    "                                                                                    
                    <p>0</p>
                div="👊    "                                                                                    
                    <p>0</p>
                div="🙏    "                                                                                    
                    <p>0</p>
                div="❤️    "                                                                                    
                    <p>0</p>
                div="💔    "                                                                                    
                    <p>0</p>
                div="💙    "                                                                                    
                    <p>0</p>
                div="💚    "                                                                                    
                    <p>0</p>
                div="🖤    "                                                                                    
                    <p>0</p>        
        
                
    script
        include ../script/ajax.js
        include ../script/script.js
        
